# Python related
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
*.manifest
*.spec

# Django related
*.log
*.pot
*.pyc
*.mo
*.env
*.sqlite3
db.sqlite3
instance/
.webassets-cache

# Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.log

# Static files
staticfiles/
static/
media/

# Local environment
datapunk-env/
*.local
config/settings/local.py


# Unit test / coverage reports
.coverage
.tox
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# pipenv
Pipfile.lock

# Pyenv
.python-version

# Docker
docker-compose.override.yml
.env.docker

# Celery
celerybeat-schedule
