{{ define "slack.default.title" }}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }}
{{ end }}

{{ define "slack.default.text" }}
{{ range .Alerts }}
*Alert:* {{ .Labels.alertname }}{{ if .Labels.severity }} - `{{ .Labels.severity }}`{{ end }}
*Description:* {{ .Annotations.description }}
*Details:*
{{ range .Labels.SortedPairs }}• *{{ .Name }}:* `{{ .Value }}`
{{ end }}
{{ end }}
{{ end }}

{{ define "slack.default.footer" }}
{{ if gt (len .Alerts.Firing) 0 }}
*Firing:* {{ .Alerts.Firing | len }}{{ end }}{{ if gt (len .Alerts.Resolved) 0 }}
*Resolved:* {{ .Alerts.Resolved | len }}{{ end }}
*Source:* {{ template "__alert_source" . }}
{{ end }}

{{ define "__alert_source" }}Datapunk Monitoring{{ end }} 